# Electron 国内镜像
ELECTRON_MIRROR=https://mirrors.huaweicloud.com/electron/

# electron-builder 二进制工具镜像（winCodeSign、nsis 等）
ELECTRON_BUILDER_BINARIES_MIRROR=https://mirrors.huaweicloud.com/electron-builder-binaries/
