# Electron 国内镜像
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/

# electron-builder 二进制工具镜像（winCodeSign、nsis 等）
ELECTRON_BUILDER_BINARIES_MIRROR=https://registry.npmmirror.com/binary.html?path=electron-builder-binaries/
